<div *ngIf="lightSwitch.color === 'dark-red'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on dark-red"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off dark-red-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'red'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on red"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off red-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'red-orange'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on red-orange"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off red-orange-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'orange-yellow'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on orange-yellow"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off orange-yellow-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'yellow'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on yellow"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off yellow-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'green'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on green"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off green-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'cyan-green'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on cyan-green"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off cyan-green-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'cyan'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on cyan"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off cyan-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'light-blue'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on light-blue"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off light-blue-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'blue'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on blue"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off blue-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'purple'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on purple"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off purple-off"></div>
</div>
<div *ngIf="lightSwitch.color === 'pink'" (click)="ToggleLightSwitch()">
  <div *ngIf="lightSwitch.status" class="light-switch on pink"></div>
  <div *ngIf="!lightSwitch.status" class="light-switch off pink-off"></div>
</div>
