<div id="showUsersSmall">
  <div class="row userMenu">
    <div *ngIf="selectedTab === 1" (click)="selectTab(1); getUsers();" class="col-xs-4 userMenu-item selected"><div class="svg highscore"></div></div>
    <div *ngIf="selectedTab !== 1" (click)="selectTab(1); getUsers();" class="col-xs-4 userMenu-item"><div class="svg highscore"></div></div>
    <div *ngIf="selectedTab !== 2" (click)="selectTab(2)" class="col-xs-4 userMenu-item"><div class="svg profile"></div></div>
    <div *ngIf="selectedTab === 2" (click)="selectTab(2)" class="col-xs-4 userMenu-item selected"><div class="svg profile"></div></div>
    <div *ngIf="selectedTab === 3" (click)="selectTab(3)" class="col-xs-4 userMenu-item selected" style="height: 40px;"><span class="svg fa fa-info"></span></div>
    <div *ngIf="selectedTab !== 3" (click)="selectTab(3)" class="col-xs-4 userMenu-item" style="height: 40px;"><span class="svg fa fa-info"></span></div>
  </div>
  <div class="row">
    <div *ngIf="selectedTab === 1">
      <h2 *ngIf="showHighscore" style="cursor:pointer;" (click)="toggleHighscore();">HIGH SCORE</h2>
      <h2 *ngIf="!showHighscore" style="cursor:pointer;" (click)="toggleHighscore();">WALLET</h2>
      <hr />
      <div *ngFor="let u of users" class="userInfo userInfo-row">
        <div *ngIf="user">
          <div *ngIf="u.username === user.username" class="currentUser">
            <div (click)="selectUser(u);" class="row topRow">
              <div class="col-xs-1"></div>
              <div *ngIf="u.png === 'Sebbe.png'" class="col-xs-2 users-img highscore-img sebbe"></div>
              <div *ngIf="u.png === 'Mattis.png'" class="col-xs-2 users-img highscore-img mattis"></div>
              <div *ngIf="u.png === 'Dennan.png'" class="col-xs-2 users-img highscore-img dennan"></div>
              <div *ngIf="u.png === 'Robin.png'" class="col-xs-2 users-img highscore-img robin"></div>
              <div *ngIf="u.png === 'Kling.png'" class="col-xs-2 users-img highscore-img kling"></div>
              <div *ngIf="u.png === 'Fredde.png'" class="col-xs-2 users-img highscore-img fredde"></div>
              <div *ngIf="u.png === 'Virre.png'" class="col-xs-2 users-img highscore-img virre"></div>
              <div *ngIf="u.png === 'Schaeran.png'" class="col-xs-2 users-img highscore-img schaeran"></div>
              <div *ngIf="u.png === 'Nemer.png'" class="col-xs-2 users-img highscore-img nemer"></div>
              <div *ngIf="u.png === 'Ivar.png'" class="col-xs-2 users-img highscore-img ivar"></div>
              <div *ngIf="u.png === 'Amanda.png'" class="col-xs-2 users-img highscore-img amanda"></div>
              <div *ngIf="u.png === 'Robban.png'" class="col-xs-2 users-img highscore-img robban"></div>
              <div class="col-xs-7 userInfo-item name">{{u.username}}</div>
            </div>
            <div class="row">
              <div *ngIf="showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.score | number:'1.0-0' }}</div>
              <div *ngIf="!showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.wallet | number:'1.0-0' }} <img style="height: 20px; margin-bottom:5px;" src="assets/images/bossItems/bossCoinSymbol.png"></div>
            </div>
          </div>
          <div *ngIf="u.username !== user.username">
            <div (click)="selectUser(u);" class="row topRow">
              <div class="col-xs-1"></div>
              <div *ngIf="u.png === 'Sebbe.png'" class="col-xs-2 users-img highscore-img sebbe"></div>
              <div *ngIf="u.png === 'Mattis.png'" class="col-xs-2 users-img highscore-img mattis"></div>
              <div *ngIf="u.png === 'Dennan.png'" class="col-xs-2 users-img highscore-img dennan"></div>
              <div *ngIf="u.png === 'Robin.png'" class="col-xs-2 users-img highscore-img robin"></div>
              <div *ngIf="u.png === 'Kling.png'" class="col-xs-2 users-img highscore-img kling"></div>
              <div *ngIf="u.png === 'Fredde.png'" class="col-xs-2 users-img highscore-img fredde"></div>
              <div *ngIf="u.png === 'Virre.png'" class="col-xs-2 users-img highscore-img virre"></div>
              <div *ngIf="u.png === 'Schaeran.png'" class="col-xs-2 users-img highscore-img schaeran"></div>
              <div *ngIf="u.png === 'Nemer.png'" class="col-xs-2 users-img highscore-img nemer"></div>
              <div *ngIf="u.png === 'Ivar.png'" class="col-xs-2 users-img highscore-img ivar"></div>
              <div *ngIf="u.png === 'Amanda.png'" class="col-xs-2 users-img highscore-img amanda"></div>
              <div *ngIf="u.png === 'Robban.png'" class="col-xs-2 users-img highscore-img robban"></div>
              <div class="col-xs-7 userInfo-item name">{{u.username}}</div>
            </div>
            <div class="row">
              <div *ngIf="showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.score | number:'1.0-0' }}</div>
              <div *ngIf="!showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.wallet | number:'1.0-0' }} <img style="height: 20px; margin-bottom:5px;" src="assets/images/bossItems/bossCoinSymbol.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedTab === 2">
      <h2 style="text-align:center">{{selectedUser.firstname}} {{selectedUser.lastname}}</h2>
      <hr />
      <div *ngIf="selectedUser.png === 'Sebbe.png'" class="users-img userprofile sebbe" style="width: 20; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Mattis.png'" class="users-img userprofile mattis" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Dennan.png'" class="users-img userprofile dennan" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Robin.png'" class="users-img userprofile robin" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Kling.png'" class="users-img userprofile kling" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Fredde.png'" class="users-img userprofile fredde" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Virre.png'" class="users-img userprofile virre" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Schaeran.png'" class="users-img userprofile schaeran" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Nemer.png'" class="users-img userprofile nemer" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Ivar.png'" class="users-img userprofile ivar" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Amanda.png'" class="users-img userprofile amanda" style="width: 20em; height: 20em;"></div>
      <div *ngIf="selectedUser.png === 'Robban.png'" class="users-img userprofile robban" style="width: 20em; height: 20em;"></div>
      <hr />
      <div class="profileInfo" style="margin-left:9px; margin-top:30px;">
        <h2>Highscore: <span style="float:right">{{selectedUser.score | number:'1.0-0' }}</span></h2>
        <h2>Wallet: <span style="float:right;" class="bossCoin"></span> <span style="float:right;">{{selectedUser.wallet | number:'1.0-0' }}</span></h2>
      </div>
    </div>
    <div *ngIf="selectedTab === 3">
      <h2>About</h2>
      <hr />
      <p>The Button game is a game of <em>clicks</em>, with each <em>click</em> on the <span class="the-button-info">BOSS button</span>
        bringing sweet sweet BossCoins <img style="height: 20px;" src="assets/images/bossItems/bossCoin.png"> and fame & glory on the Highscore <img style="height: 20px;" src="assets/images/menu/trophy.svg">,
        relishing in your opponents shitty performance...
        <em>Click</em> the historic BOSS-items
        <img style="height: 20px;" src="assets/images/bossItems/beerCap1.png">
        <img style="height: 20px;" src="assets/images/bossItems/floater1.png">
        <img style="height: 20px;" src="assets/images/bossItems/meatClub1.png">
        <img style="height: 20px;" src="assets/images/bossItems/oldOx1.png"> to increase your time and check the Highscore <img style="height: 20px;" src="assets/images/menu/trophy.svg">
        to see how your best turn stacks up against your friends' and foes'.
        Your Wallet <img style="height: 20px;" src="assets/images/bossItems/bossCoinSymbol.png"> contains all your accumulated BossCoin <img style="height: 20px;" src="assets/images/bossItems/bossCoin.png"> wealth, which can be spent
        at a later date...
      </p>
    </div>
  </div>
</div>
<div id="showUsersBig">
  <div class="side-menu">
    <div class="row userMenu">
        <div *ngIf="selectedTab === 1" (click)="selectTab(1); getUsers();" class="col-lg-3 userMenu-item selected"><div class="svg highscore"></div></div>
        <div *ngIf="selectedTab !== 1" (click)="selectTab(1); getUsers();" class="col-lg-3 userMenu-item"><div class="svg highscore"></div></div>
        <div *ngIf="selectedTab === 2" (click)="selectTab(2)" class="col-lg-3 userMenu-item selected"><div class="svg profile"></div></div>
        <div *ngIf="selectedTab !== 2" (click)="selectTab(2)" class="col-lg-3 userMenu-item"><div class="svg profile"></div></div>
        <div *ngIf="selectedTab === 3" (click)="selectTab(3)" class="col-lg-3 userMenu-item selected" style="height: 40px;"><span class="svg fa fa-info"></span></div>
        <div *ngIf="selectedTab !== 3" (click)="selectTab(3)" class="col-lg-3 userMenu-item" style="height: 40px;"><span class="svg fa fa-info"></span></div>
        <div *ngIf="selectedTab === 4" (click)="selectTab(4)" class="col-lg-3 userMenu-item selected"><div class="svg settings"></div></div>
        <div *ngIf="selectedTab !== 4" (click)="selectTab(4)" class="col-lg-3 userMenu-item"><div class="svg settings"></div></div>
    </div>
    <div class="row">
      <div *ngIf="selectedTab === 1" class="box-content container">
        <h2 *ngIf="showHighscore" style="cursor:pointer;" (click)="toggleHighscore();">HIGH SCORE</h2>
        <h2 *ngIf="!showHighscore" style="cursor:pointer;" (click)="toggleHighscore();">WALLET</h2>
        <hr />
        <div *ngFor="let u of users" class="userInfo userInfo-row">
          <div *ngIf="user">
            <div *ngIf="u.username === user.username" class="currentUser">
              <div (click)="selectUser(u);" class="row topRow">
                <div class="col-xs-1"></div>
                <div *ngIf="u.png === 'Sebbe.png'" class="col-xs-2 users-img highscore-img sebbe"></div>
                <div *ngIf="u.png === 'Mattis.png'" class="col-xs-2 users-img highscore-img mattis"></div>
                <div *ngIf="u.png === 'Dennan.png'" class="col-xs-2 users-img highscore-img dennan"></div>
                <div *ngIf="u.png === 'Robin.png'" class="col-xs-2 users-img highscore-img robin"></div>
                <div *ngIf="u.png === 'Kling.png'" class="col-xs-2 users-img highscore-img kling"></div>
                <div *ngIf="u.png === 'Fredde.png'" class="col-xs-2 users-img highscore-img fredde"></div>
                <div *ngIf="u.png === 'Virre.png'" class="col-xs-2 users-img highscore-img virre"></div>
                <div *ngIf="u.png === 'Schaeran.png'" class="col-xs-2 users-img highscore-img schaeran"></div>
                <div *ngIf="u.png === 'Nemer.png'" class="col-xs-2 users-img highscore-img nemer"></div>
                <div *ngIf="u.png === 'Ivar.png'" class="col-xs-2 users-img highscore-img ivar"></div>
                <div *ngIf="u.png === 'Amanda.png'" class="col-xs-2 users-img highscore-img amanda"></div>
                <div *ngIf="u.png === 'Robban.png'" class="col-xs-2 users-img highscore-img robban"></div>
                <div class="col-xs-7 userInfo-item name">{{u.username}}</div>
              </div>
              <div (click)="selectUser(u);" class="row">
                <div *ngIf="showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.score | number:'1.0-0' }}</div>
                <div *ngIf="!showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.wallet | number:'1.0-0' }} <img style="height: 20px; margin-bottom:5px;" src="assets/images/bossItems/bossCoinSymbol.png"></div>
              </div>
            </div>
            <div *ngIf="u.username !== user.username">
              <div (click)="selectUser(u);" class="row topRow">
                <div class="col-xs-1"></div>
                <div *ngIf="u.png === 'Sebbe.png'" class="col-xs-2 users-img highscore-img sebbe"></div>
                <div *ngIf="u.png === 'Mattis.png'" class="col-xs-2 users-img highscore-img mattis"></div>
                <div *ngIf="u.png === 'Dennan.png'" class="col-xs-2 users-img highscore-img dennan"></div>
                <div *ngIf="u.png === 'Robin.png'" class="col-xs-2 users-img highscore-img robin"></div>
                <div *ngIf="u.png === 'Kling.png'" class="col-xs-2 users-img highscore-img kling"></div>
                <div *ngIf="u.png === 'Fredde.png'" class="col-xs-2 users-img highscore-img fredde"></div>
                <div *ngIf="u.png === 'Virre.png'" class="col-xs-2 users-img highscore-img virre"></div>
                <div *ngIf="u.png === 'Schaeran.png'" class="col-xs-2 users-img highscore-img schaeran"></div>
                <div *ngIf="u.png === 'Nemer.png'" class="col-xs-2 users-img highscore-img nemer"></div>
                <div *ngIf="u.png === 'Ivar.png'" class="col-xs-2 users-img highscore-img ivar"></div>
                <div *ngIf="u.png === 'Amanda.png'" class="col-xs-2 users-img highscore-img amanda"></div>
                <div *ngIf="u.png === 'Robban.png'" class="col-xs-2 users-img highscore-img robban"></div>
                <div class="col-xs-7 userInfo-item name">{{u.username}}</div>
              </div>
              <div (click)="selectUser(u);" class="row">
                <div *ngIf="showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.score | number:'1.0-0' }}</div>
                <div *ngIf="!showHighscore" class="col-xs-12 centerText userInfo-item score botRow">{{u.wallet | number:'1.0-0' }} <img style="height: 20px; margin-bottom:5px;" src="assets/images/bossItems/bossCoinSymbol.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTab === 2" class="box-content container">
        <h2 style="text-align:center">{{selectedUser.firstname}} {{selectedUser.lastname}}</h2>
        <hr />
        <div *ngIf="selectedUser.png === 'Sebbe.png'" class="users-img userprofile sebbe" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Mattis.png'" class="users-img userprofile mattis" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Dennan.png'" class="users-img userprofile dennan" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Robin.png'" class="users-img userprofile robin" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Kling.png'" class="users-img userprofile kling" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Fredde.png'" class="users-img userprofile fredde" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Virre.png'" class="users-img userprofile virre" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Schaeran.png'" class="users-img userprofile schaeran" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Nemer.png'" class="users-img userprofile nemer" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Ivar.png'" class="users-img userprofile ivar" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Amanda.png'" class="users-img userprofile amanda" style="width: 20em; height: 20em;"></div>
        <div *ngIf="selectedUser.png === 'Robban.png'" class="users-img userprofile robban" style="width: 20em; height: 20em;"></div>
        <!-- <hr /> -->
        <div class="profileInfo" style="margin-left:9px; margin-top:30px;">
          <h2>Highscore: <span style="float:right">{{selectedUser.score | number:'1.0-0' }}</span></h2>
          <h2>Wallet: <span style="float:right;" class="bossCoin"></span> <span style="float:right;">{{selectedUser.wallet | number:'1.0-0' }}</span></h2>
        </div>
      </div>
      <div *ngIf="selectedTab === 3" class="box-content container">
        <h2>About</h2>
        <hr />
        <p>The Button game is a game of <em>clicks</em>, with each <em>click</em> on the <span class="the-button-info">BOSS button</span>
          bringing sweet sweet BossCoins <img style="height: 20px;" src="assets/images/bossItems/bossCoin.png"> and fame & glory on the Highscore <img style="height: 20px;" src="assets/images/menu/trophy.svg">,
          relishing in your opponents shitty performance...
          <em>Click</em> the historic BOSS-items
          <img style="height: 20px;" src="assets/images/bossItems/beerCap1.png">
          <img style="height: 20px;" src="assets/images/bossItems/floater1.png">
          <img style="height: 20px;" src="assets/images/bossItems/meatClub1.png">
          <img style="height: 20px;" src="assets/images/bossItems/oldOx1.png"> to increase your time and check the Highscore <img style="height: 20px;" src="assets/images/menu/trophy.svg">
          to see how your best turn stacks up against your friends' and foes'.
          Your Wallet <img style="height: 20px;" src="assets/images/bossItems/bossCoinSymbol.png"> contains all your accumulated BossCoin <img style="height: 20px;" src="assets/images/bossItems/bossCoin.png"> wealth, which can be spent
          at a later date...
        </p>
      </div>
      <div *ngIf="selectedTab === 4" class="box-content container">
        <h2>SETTINGS</h2>
        <hr />
        <div class="setting">
          <div class="settings-left">
            <span class="setting-label">Maestro</span>
          </div>
          <div class="settings-right">
            <label class="switch">
              <input type="checkbox" id="maestroCheckBox" (click)="setType('maestro');">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
