.box-content {
  /* padding: 10px; */
  color:white;
  font-size:20px;
}
.userMenu-item {
  text-align: center;
  background-color:#424242;
  border-color: black;
  border:5px;
  color:#f1f1f1;
  font-size: 17px;
  padding: 10px;
  cursor:pointer;
}
.userMenu-item:hover {
  color:#ffffff;
  background-color:#535353
}

.userInfo-item {
  padding: 5px;
  font-size:25px;
  border-color: black;
  color:white;
}

.userInfo-item:hover {
  font-weight: 800;
}

.userInfo:nth-child(even) {
  background-color: #383838;
}

.userInfo-row:hover {
  color:rgb(179, 179, 179);
  background-color:rgb(158, 158, 158);
}

.centerText {
  text-align: center;
}

.avatar {
  margin-left: 15px;
  /* width:40px; */
}

.name {
  /* width: 120px; */
  margin-right: -10px;
}

.score {
  margin-left: -30px;
  text-align: right;
}

p{
  word-wrap: break-word;
}

/* .high-score {
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
  border-color: #BB0000;
}

.high-score-entry-current {
	height: 63px;
	font-size: 22px;
	font-weight: 300;
	padding: 10px;
	margin: 2px;
	background-color: #990000 !important;
	border-width: 3px 5px;
	border-style: solid;
	border-color: #660000 #000000;
}

.high-score-entry-current:hover {
	font-weight: 700;
}

.high-score-entry {
  display:inline-block;
	height: 63px;
	font-size: 20px;
	padding: 8px;
	margin: 2px;
	border-width: 3px;
	border-style: solid;
	border-color: #BB0000;
}

.high-score-entry:hover {
	font-weight: 700;
} */
