.svg {
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}

.highscore {
  background-image: url('../../assets/images/menu/trophy.svg');
}

.profile {
  background-image: url('../../assets/images/menu/user.svg');
}

.settings {
  background-image: url('../../assets/images/menu/settings-gears.svg');
}

.side-menu {
  width: 370px;
}

.box-content {
  /* padding: 10px; */
  color:white;
  font-size:20px;
  max-width: 400px;
}

.userMenu-item {
  text-align: center;
  background-color:#424242;
  border-color: black;
  border:5px;
  color:#f1f1f1;
  font-size: 17px;
  padding: 10px;
  cursor:pointer;
}
.userMenu-item:hover {
  color:#ffffff;
  background-color:#535353
}

.userMenu-item:active {
  color:#ffffff;
  background-color:#4e4e4e
}

.userInfo {
  margin:4px;
}

.userInfo-item {
  padding: 5px;
  font-size:25px;
  border-color: black;
  color:white;
}

.userInfo-item:hover {
  font-weight: 800;
}

.userInfo:nth-child(even) {
  background-color: #383838;
}

.userInfo-row:hover {
  border-radius: 8px;
  color:rgb(179, 179, 179);
  background-color:rgb(158, 158, 158);
}

.currentUser {
  background-color: #490707;
  border-radius: 8px;
}

.currentUser:hover {
  background-color: #8d0f0f;
}

.centerText {
  text-align: center;
}

.name {
  margin-left: -0.6em;
  padding: 3px;
  text-align:right;
}

.score {
  margin-left: -30px;
  text-align: right;
}

p{
  word-wrap: break-word;
}

.setting {
  margin: 5px;
  padding: 5px;
}
.setting-label {
  font-size:24px;
  float:left;
}

.settings-left {
  float:left;
  display:inline-block;
  width:80%;
}

.settings-right {
  display:inline-block;
  width:20%;
}


/*///////////////////////////////////////////////////////////////////////////////
//-------------------------------- Switch -------------------------------------//
///////////////////////////////////////////////////////////////////////////////*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(75, 155, 216);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(52, 131, 187);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.topRow {
  margin-bottom: -1.2em;
}
.botRow {
  margin-top: -1.2em;
}


/*///////////////
// Avatars
///////////////////////////////////////////////////////////////////////////////*/
.sebbe { background-image: url('../../assets/images/avatars/Sebbe.png'); }
.mattis { background-image: url('../../assets/images/avatars/Mattis.png'); }
.kling { background-image: url('../../assets/images/avatars/Kling.png'); }
.robin { background-image: url('../../assets/images/avatars/Robin.png'); }
.nemer { background-image: url('../../assets/images/avatars/Nemer.png'); }
.fredde { background-image: url('../../assets/images/avatars/Fredde.png'); }
.dennan { background-image: url('../../assets/images/avatars/Dennan.png'); }
.schaeran { background-image: url('../../assets/images/avatars/Schaeran.png'); }
.amanda { background-image: url('../../assets/images/avatars/Amanda.png'); }
.ivar { background-image: url('../../assets/images/avatars/Ivar.png'); }
.virre { background-image: url('../../assets/images/avatars/Virre.png'); }
.robban { background-image: url('../../assets/images/avatars/Robban.png'); }

.img {
  margin-top: 1em;
  padding-top: 4px;
	cursor: pointer;
  width: 8em;
  height: 8em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.userprofile {
  width: 20em;
  height: 20em;
}

.attribute {
  /* border: rgb(152, 182, 165) 3px solid; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /* border-radius: 15px; */
  font-size: 25px;
  margin-top: 9px;
  width: 380px;
  height: 94px;
}

.bossCoin {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 28px;
  margin-left: 5px;
  margin-top: 1.1px;
  /* background-image: url('../../assets/images/bossItems/bossCoin.png'); */
  background-image: url('../../assets/images/bossItems/bossCoinSymbol.png');
}

.doubleEspresso { background-image: url('../../assets/images/attributes/doubleEspresso.png'); }
.box { background-image: url('../../assets/images/attributes/box.png'); }

.green { background-color: #14941a; }
.red { background-color: #941414; }
.blue { background-color: #141c94; }
.yellow { background-color: #947214; }
.teal { background-color: #149474; }

/* .profileInfo h4 {
  font-size: 25px;
} */

/*///////////////
// Media Queries
///////////////////////////////////////////////////////////////////////////////*/
@media only screen and (
  max-width: 1026px
) {
#showUsersBig {
  display: none;
}
#showUsersSmall {
  width:80vw;
  margin-left:6vw;
}
}

@media only screen and (
  min-width: 1026px
) {
#showUsersSmall {
  display: none;
  width:auto;
}
.img {
  margin-top: 0.3em;
  width: 3.7em;
  height: 3.7em;
  margin-bottom: -0.6em;
}
.name {
  margin-top: 0.4em;
  /* margin-left: 1.6em; */
}
}
