.svg {
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}

.highscore {
  background-image: url('../../assets/images/menu/trophy.svg');
}

.profile {
  background-image: url('../../assets/images/menu/user.svg');
}

.settings {
  background-image: url('../../assets/images/menu/settings-gears.svg');
}

.side-menu {
  width: 370px;
}

.box-content {
  /* padding: 10px; */
  color:white;
  font-size:20px;
  max-width: 400px;
}

.userMenu-item {
  text-align: center;
  background-color:#424242;
  border-color: black;
  border:5px;
  color:#f1f1f1;
  font-size: 17px;
  padding: 10px;
  cursor:pointer;
}
.userMenu-item:hover {
  color:#ffffff;
  background-color:#535353
}

.userMenu-item:active {
  color:#ffffff;
  background-color:#4e4e4e
}

.userInfo-item {
  padding: 5px;
  font-size:25px;
  border-color: black;
  color:white;
}

.userInfo-item:hover {
  font-weight: 800;
}

.userInfo:nth-child(even) {
  background-color: #383838;
}

.userInfo-row:hover {
  border-radius: 8px;
  color:rgb(179, 179, 179);
  background-color:rgb(158, 158, 158);
}

.currentUser {
  background-color: #490707;
  border-radius: 8px;
}

.currentUser:hover {
  background-color: #8d0f0f;
}

.centerText {
  text-align: center;
}

.avatar {
  background-image: url('../../assets/images/user.svg');
  margin-left: 15px;
  /* width:40px; */
}

.name {
  /* width: 120px; */
  margin-right: -10px;
}

.score {
  margin-left: -30px;
  text-align: right;
}

p{
  word-wrap: break-word;
}

.setting {
  margin: 5px;
  padding: 5px;
}
.setting-label {
  font-size:24px;
  float:left;
}

.settings-left {
  float:left;
  display:inline-block;
  width:80%;
}

.settings-right {
  display:inline-block;
  width:20%;
}


/*///////////////////////////////////////////////////////////////////////////////
//-------------------------------- Switch -------------------------------------//
///////////////////////////////////////////////////////////////////////////////*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(75, 155, 216);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(52, 131, 187);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*///////////////////////////////////////////////////////////////////////////////
//----------------------------------------------------------------------------//
///////////////////////////////////////////////////////////////////////////////*/
