<br />
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-10">
    <h3>Description</h3>
    <p>This will be a quick deathmatch game, the last surviving BOSS will hold the "Survivor" attribute, the one with the most kills holds the "Assassin" attribute and the one with most deaths will hold the "Pawn" attribute</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-4">
    <!-- <div id="profileImage" class="col-xs-2 img sebbe"></div> -->
    <!-- <img id="profileImage" src="../../assets/images/avatars/Sebbe.png" alt="The Scream" width="100" height="100" style="display:none"> -->
    <!-- <div *ngIf="user.png === 'Sebbe.png'" class="col-xs-2 img sebbe"></div>
    <div *ngIf="user.png === 'Mattis.png'" class="col-xs-2 img mattis"></div>
    <div *ngIf="user.png === 'Dennan.png'" class="col-xs-2 img dennan"></div>
    <div *ngIf="user.png === 'Robin.png'" class="col-xs-2 img robin"></div>
    <div *ngIf="user.png === 'Kling.png'" class="col-xs-2 img kling"></div>
    <div *ngIf="user.png === 'Fredde.png'" class="col-xs-2 img fredde"></div>
    <div *ngIf="user.png === 'Virre.png'" class="col-xs-2 img virre"></div>
    <div *ngIf="user.png === 'Schaeran.png'" class="col-xs-2 img schaeran"></div>
    <div *ngIf="user.png === 'Nemer.png'" class="col-xs-2 img nemer"></div>
    <div *ngIf="user.png === 'Ivar.png'" class="col-xs-2 img ivar"></div>
    <div *ngIf="user.png === 'Amanda.png'" class="col-xs-2 img amanda"></div>
    <div *ngIf="user.png === 'Robban.png'" class="col-xs-2 img robban"></div>
    <div class="col-xs-7 userInfo-item name">{{user.username}}</div> -->
    <button *ngIf="gameOver" class="btn btn-success" (click)="startNewGame();">New Game</button>
    <button *ngIf="!gameOver" class="btn btn-warning">Game {{gameCount}}</button>
  </div>
  <div class="col-xs-6"></div>
</div>
<br />

<div class="row">
  <div class="col-xs-2">
    <div *ngFor="let player of players.slice(0, 4); let i = index" class="playerBox" [style.background-color]="player.color">
      <div class="row playerName">Player {{player.number}}</div>
      <div class="row playerInfo">
        W:<span class="score">{{player.score}}</span>
        K:<span class="kills">{{player.kills}}</span>
        D:<span class="deaths">{{player.deaths}}</span>
      </div>
      <div class="arrows">
        <div class="row" style="margin-bottom: 4px;">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <button class="btn btn-info arrow" (click)="point('Up', i);" [innerHTML]="player.moveUp | keepHtml"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button class="btn btn-info arrow" (click)="point('Left', i);" [innerHTML]="player.moveLeft | keepHtml"></button>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-info arrow" (click)="point('Down', i);" [innerHTML]="player.moveDown | keepHtml"></button>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-info arrow" (click)="point('Right', i);" [innerHTML]="player.moveRight | keepHtml"></button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8">
    <canvas id="maze" class="canvas" tabindex='1' width="1001" height="501" style="background-color: #444444; border:1px solid #ffffff;">
      Canvas is not supported!
    </canvas>
  </div>
  <div class="col-xs-2">
    <div *ngFor="let player of players.slice(4, players.length); let i = index" class="playerBox" [style.background-color]="player.color">
      <div class="row playerName">Player {{player.number}}</div>
      <div class="row playerInfo">
        W:<span class="score">{{player.score}}</span>
        K:<span class="kills">{{player.kills}}</span>
        D:<span class="deaths">{{player.deaths}}</span>
      </div>
      <div class="arrows">
        <div class="row" style="margin-bottom: 4px;">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <button class="btn btn-info arrow" (click)="point('Up', i);" [innerHTML]="player.moveUp | keepHtml"></button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button class="btn btn-info arrow" (click)="point('Left', i);" [innerHTML]="player.moveLeft | keepHtml"></button>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-info arrow" (click)="point('Down', i);" [innerHTML]="player.moveDown | keepHtml"></button>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-info arrow" (click)="point('Right', i);" [innerHTML]="player.moveRight | keepHtml"></button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-2">
    <canvas id="clock" width="720" height="720" style="background-color: #444444; border:1px solid #ffffff;">
      Canvas is not supported!
    </canvas>
  </div> -->
</div>
<!-- <div class="row">
  <h3>12 Player - Controls</h3>
  <ol>
    <li>2QWE</li>
    <li>5RTY</li>
    <li>8UIO</li>
    <li>0OPÅ</li>
    <li>A&lt;ZX</li>
    <li>FCVB</li>
    <li>JNM,</li>
    <li>Ö.-Ä</li>
    <li>*¨´(Enter)</li>
    <li>(Insert)(PgDn)(PgUp)(End)</li>
    <li>§134</li>
    <li>(Up)(Left)(Down)(Right)</li>
  </ol>
</div> -->
