<h1>Welcome to THE MAZE</h1>
<!-- <div class="row">
  <div *ngIf="user.png === 'Sebbe.png'" class="col-xs-2 img sebbe"></div>
  <div *ngIf="user.png === 'Mattis.png'" class="col-xs-2 img mattis"></div>
  <div *ngIf="user.png === 'Dennan.png'" class="col-xs-2 img dennan"></div>
  <div *ngIf="user.png === 'Robin.png'" class="col-xs-2 img robin"></div>
  <div *ngIf="user.png === 'Kling.png'" class="col-xs-2 img kling"></div>
  <div *ngIf="user.png === 'Fredde.png'" class="col-xs-2 img fredde"></div>
  <div *ngIf="user.png === 'Virre.png'" class="col-xs-2 img virre"></div>
  <div *ngIf="user.png === 'Schaeran.png'" class="col-xs-2 img schaeran"></div>
  <div *ngIf="user.png === 'Nemer.png'" class="col-xs-2 img nemer"></div>
  <div *ngIf="user.png === 'Ivar.png'" class="col-xs-2 img ivar"></div>
  <div *ngIf="user.png === 'Amanda.png'" class="col-xs-2 img amanda"></div>
  <div *ngIf="user.png === 'Robban.png'" class="col-xs-2 img robban"></div>
  <div class="col-xs-7 userInfo-item name">{{user.username}}</div>
</div> -->
<h3>Description</h3>
<p>This will be a quick timed game, the (currently) fastest BOSS will hold the attribute "Maze Runner"</p>

<div class="row">
  <div class="col-xs-12">
    <canvas id="maze" width="500" height="500">
      Canvas is not supported!
    </canvas>
  </div>
</div>
