.canvas {
  border-radius: 8px;
}

.playerBox {
  border: solid 1px rgb(65, 62, 62);
  border-radius: 8px;
  background-color: #464646;
  padding: 5px;
  margin: 5px;
  width: 200px;
}

.playerName {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 27px;
  font-weight: 600;
}

.playerInfo {
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 25px;
  font-weight: 600;
}

.score {
  color: rgb(172, 131, 20);
}

.kills {
  color: rgb(54, 194, 54);
}

.deaths {
  color: rgb(211, 55, 55);
}

.arrows {
  margin-left: 10px;
  margin-right: 50px;
}

.arrow {
  margin: 2px;
  width: 40px !important;
  background-color: #2e2c2c;
}

.userInfo-item {
  padding: 5px;
  font-size:25px;
  border-color: black;
  color:white;
}

.userInfo-item:hover {
  font-weight: 800;
}

.name {
  margin-top: 1em;
  padding: 3px;
  text-align:left;
}

/*///////////////
// Avatars
///////////////////////////////////////////////////////////////////////////////*/
.sebbe { background-image: url('../../assets/images/avatars/Sebbe.png'); }
.mattis { background-image: url('../../assets/images/avatars/Mattis.png'); }
.kling { background-image: url('../../assets/images/avatars/Kling.png'); }
.robin { background-image: url('../../assets/images/avatars/Robin.png'); }
.nemer { background-image: url('../../assets/images/avatars/Nemer.png'); }
.fredde { background-image: url('../../assets/images/avatars/Fredde.png'); }
.dennan { background-image: url('../../assets/images/avatars/Dennan.png'); }
.schaeran { background-image: url('../../assets/images/avatars/Schaeran.png'); }
.amanda { background-image: url('../../assets/images/avatars/Amanda.png'); }
.ivar { background-image: url('../../assets/images/avatars/Ivar.png'); }
.virre { background-image: url('../../assets/images/avatars/Virre.png'); }
.robban { background-image: url('../../assets/images/avatars/Robban.png'); }

.img {
  margin-top: 1em;
  padding-top: 4px;
	cursor: pointer;
  width: 8em;
  height: 8em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
