<div *ngIf="!owned">
    <!-- [style.background]="attribute.img" -->
  <div *ngIf="!toggled" class="attributeContainer" (click)="toggled = !toggled">
    <img *ngIf="attribute.name === 'Captains-Badge-Blue'" style="height: 80px; float:left;" src="assets/images/attributes/blueLeader.png" alt="Badge">
    <img *ngIf="attribute.name === 'Leech'" style="height: 80px; float:left;" src="assets/images/attributes/leech.png" alt="Badge">
    <img *ngIf="attribute.name === 'Minigun'" style="height: 80px; float:left;" src="assets/images/attributes/miniGun.png" alt="Badge">
    <img *ngIf="attribute.name === 'Captains-Badge-Red'" style="height: 80px; float:left;" src="assets/images/attributes/redLeader.png" alt="Badge">
    <img *ngIf="attribute.name === 'Time-Lord'" style="height: 80px; float:left;" src="assets/images/attributes/timeLord.png" alt="Badge">
    <img *ngIf="attribute.name === 'Dual-Wield'" style="height: 80px; float:left;" src="assets/images/attributes/tombRaider.png" alt="Badge">
    <img *ngIf="attribute.name === 'Nidhogg'" style="height: 75px; float:left;" src="assets/images/attributes/nidhogg.png" alt="Badge">
    <img *ngIf="attribute.name === 'Achtung'" style="height: 75px; float:left;" src="assets/images/attributes/achtung.png" alt="Badge">
    <img *ngIf="attribute.name === 'AnteHype'" style="height: 75px; float:left;" src="assets/images/attributes/anteHype.png" alt="Badge">
    <img *ngIf="attribute.name === 'AutoClicker'" style="height: 75px; float:left;" src="assets/images/attributes/autoClicker.png" alt="Badge">
    <img *ngIf="attribute.name === 'Cry-Baby'" style="height: 75px; float:left;" src="assets/images/attributes/cryBaby.png" alt="Badge">
    <img *ngIf="attribute.name === 'Chug'" style="height: 75px; float:left;" src="assets/images/attributes/chug.png" alt="Badge">
    <img *ngIf="attribute.name === 'Ninja'" style="height: 75px; float:left;" src="assets/images/attributes/ninja.png" alt="Badge">
    <p *ngIf="attribute.name !== 'Captains-Badge-Blue' && attribute.name !== 'Captains-Badge-Red'" class="attributeName">{{attribute.name}}</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Blue'" class="attributeName">Blue Captain</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Red'" class="attributeName">Red Captain</p>
    <p class="attributePrice">{{attribute.price | number:'1.0-0' }} <img style="height: 20px; margin-bottom:4px;" src="assets/images/bossItems/bossCoin.png"></p>
  </div>
  <div *ngIf="toggled" class="attributeContainerPlus" (click)="toggled = !toggled">
      <img *ngIf="attribute.name === 'Captains-Badge-Blue'" style="height: 80px; float:left;" src="assets/images/attributes/blueLeader.png" alt="Badge">
      <img *ngIf="attribute.name === 'Leech'" style="height: 80px; float:left;" src="assets/images/attributes/leech.png" alt="Badge">
      <img *ngIf="attribute.name === 'Minigun'" style="height: 80px; float:left;" src="assets/images/attributes/miniGun.png" alt="Badge">
      <img *ngIf="attribute.name === 'Captains-Badge-Red'" style="height: 80px; float:left;" src="assets/images/attributes/redLeader.png" alt="Badge">
      <img *ngIf="attribute.name === 'Time-Lord'" style="height: 80px; float:left;" src="assets/images/attributes/timeLord.png" alt="Badge">
      <img *ngIf="attribute.name === 'Dual-Wield'" style="height: 80px; float:left;" src="assets/images/attributes/tombRaider.png" alt="Badge">
      <img *ngIf="attribute.name === 'Nidhogg'" style="height: 75px; float:left;" src="assets/images/attributes/nidhogg.png" alt="Badge">
      <img *ngIf="attribute.name === 'Achtung'" style="height: 75px; float:left;" src="assets/images/attributes/achtung.png" alt="Badge">
      <img *ngIf="attribute.name === 'AnteHype'" style="height: 75px; float:left;" src="assets/images/attributes/anteHype.png" alt="Badge">
      <img *ngIf="attribute.name === 'AutoClicker'" style="height: 75px; float:left;" src="assets/images/attributes/autoClicker.png" alt="Badge">
      <img *ngIf="attribute.name === 'Cry-Baby'" style="height: 75px; float:left;" src="assets/images/attributes/cryBaby.png" alt="Badge">
      <img *ngIf="attribute.name === 'Chug'" style="height: 75px; float:left;" src="assets/images/attributes/chug.png" alt="Badge">
      <img *ngIf="attribute.name === 'Ninja'" style="height: 75px; float:left;" src="assets/images/attributes/ninja.png" alt="Badge">
    <p *ngIf="attribute.name !== 'Captains-Badge-Blue' && attribute.name !== 'Captains-Badge-Red'" class="attributeName">{{attribute.name}}</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Blue'" class="attributeName">Blue Captain</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Red'" class="attributeName">Red Captain</p>
    <p class="attributePrice">{{attribute.price | number:'1.0-0' }} <img style="height: 20px; margin-bottom:4px;" src="assets/images/bossItems/bossCoin.png"></p>
    <p class="attributeDescription">{{attribute.description}}</p>
    <p class="attributeDescription">Use: {{attribute.usage}}</p>
  </div>
  <div *ngIf="!toggled">
    <div *ngIf="user.wallet >= attribute.price" class="buyButton available" (click)="buyAttribute();"><i class="fa fa-handshake-o deal" aria-hidden="true"></i></div>
    <div *ngIf="user.wallet < attribute.price" class="buyButton notAvailable"><i class="fa fa-handshake-o deal" aria-hidden="true"></i></div>
  </div>
  <div *ngIf="toggled">
    <div *ngIf="user.wallet >= attribute.price" class="buyButtonPlus available" (click)="buyAttribute();"><i class="fa fa-handshake-o deal" aria-hidden="true"></i></div>
    <div *ngIf="user.wallet < attribute.price" class="buyButtonPlus notAvailable"><i class="fa fa-handshake-o deal" aria-hidden="true"></i></div>
  </div>
</div>
<div *ngIf="owned">
  <div *ngIf="!toggled" class="attributeContainer owned" (click)="toggled = !toggled">
    <img *ngIf="attribute.name === 'Captains-Badge-Blue'" style="height: 80px; float:left;" src="assets/images/attributes/blueLeader.png" alt="Badge">
    <img *ngIf="attribute.name === 'Leech'" style="height: 80px; float:left;" src="assets/images/attributes/leech.png" alt="Badge">
    <img *ngIf="attribute.name === 'Minigun'" style="height: 80px; float:left;" src="assets/images/attributes/miniGun.png" alt="Badge">
    <img *ngIf="attribute.name === 'Captains-Badge-Red'" style="height: 80px; float:left;" src="assets/images/attributes/redLeader.png" alt="Badge">
    <img *ngIf="attribute.name === 'Time-Lord'" style="height: 80px; float:left;" src="assets/images/attributes/timeLord.png" alt="Badge">
    <img *ngIf="attribute.name === 'Dual-Wield'" style="height: 80px; float:left;" src="assets/images/attributes/tombRaider.png" alt="Badge">
    <img *ngIf="attribute.name === 'Nidhogg'" style="height: 75px; float:left;" src="assets/images/attributes/nidhogg.png" alt="Badge">
    <img *ngIf="attribute.name === 'Achtung'" style="height: 75px; float:left;" src="assets/images/attributes/achtung.png" alt="Badge">
    <img *ngIf="attribute.name === 'AnteHype'" style="height: 75px; float:left;" src="assets/images/attributes/anteHype.png" alt="Badge">
    <img *ngIf="attribute.name === 'AutoClicker'" style="height: 75px; float:left;" src="assets/images/attributes/autoClicker.png" alt="Badge">
    <img *ngIf="attribute.name === 'Cry-Baby'" style="height: 75px; float:left;" src="assets/images/attributes/cryBaby.png" alt="Badge">
    <img *ngIf="attribute.name === 'Chug'" style="height: 75px; float:left;" src="assets/images/attributes/chug.png" alt="Badge">
    <img *ngIf="attribute.name === 'Ninja'" style="height: 75px; float:left;" src="assets/images/attributes/ninja.png" alt="Badge">
    <p *ngIf="attribute.name !== 'Captains-Badge-Blue' && attribute.name !== 'Captains-Badge-Red'" class="attributeName">{{attribute.name}}</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Blue'" class="attributeName">Blue Captain</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Red'" class="attributeName">Red Captain</p>
    <p class="attributePrice">{{attribute.price | number:'1.0-0' }} <img style="height: 20px; margin-bottom:4px;" src="assets/images/bossItems/bossCoin.png"></p>
  </div>
  <div *ngIf="toggled" class="attributeContainerPlus owned" (click)="toggled = !toggled">
      <img *ngIf="attribute.name === 'Captains-Badge-Blue'" style="height: 80px; float:left;" src="assets/images/attributes/blueLeader.png" alt="Badge">
      <img *ngIf="attribute.name === 'Leech'" style="height: 80px; float:left;" src="assets/images/attributes/leech.png" alt="Badge">
      <img *ngIf="attribute.name === 'Minigun'" style="height: 80px; float:left;" src="assets/images/attributes/miniGun.png" alt="Badge">
      <img *ngIf="attribute.name === 'Captains-Badge-Red'" style="height: 80px; float:left;" src="assets/images/attributes/redLeader.png" alt="Badge">
      <img *ngIf="attribute.name === 'Time-Lord'" style="height: 80px; float:left;" src="assets/images/attributes/timeLord.png" alt="Badge">
      <img *ngIf="attribute.name === 'Dual-Wield'" style="height: 80px; float:left;" src="assets/images/attributes/tombRaider.png" alt="Badge">
      <img *ngIf="attribute.name === 'Nidhogg'" style="height: 75px; float:left;" src="assets/images/attributes/nidhogg.png" alt="Badge">
      <img *ngIf="attribute.name === 'Achtung'" style="height: 75px; float:left;" src="assets/images/attributes/achtung.png" alt="Badge">
      <img *ngIf="attribute.name === 'AnteHype'" style="height: 75px; float:left;" src="assets/images/attributes/anteHype.png" alt="Badge">
      <img *ngIf="attribute.name === 'AutoClicker'" style="height: 75px; float:left;" src="assets/images/attributes/autoClicker.png" alt="Badge">
      <img *ngIf="attribute.name === 'Cry-Baby'" style="height: 75px; float:left;" src="assets/images/attributes/cryBaby.png" alt="Badge">
      <img *ngIf="attribute.name === 'Chug'" style="height: 75px; float:left;" src="assets/images/attributes/chug.png" alt="Badge">
      <img *ngIf="attribute.name === 'Ninja'" style="height: 75px; float:left;" src="assets/images/attributes/ninja.png" alt="Badge">
    <p *ngIf="attribute.name !== 'Captains-Badge-Blue' && attribute.name !== 'Captains-Badge-Red'" class="attributeName">{{attribute.name}}</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Blue'" class="attributeName">Blue Captain</p>
    <p *ngIf="attribute.name === 'Captains-Badge-Red'" class="attributeName">Red Captain</p>
    <p class="attributePrice">{{attribute.price | number:'1.0-0' }} <img style="height: 20px; margin-bottom:4px;" src="assets/images/bossItems/bossCoin.png"></p>
    <p class="attributeDescription">{{attribute.description}}</p>
    <p class="attributeDescription">Use: {{attribute.usage}}</p>
  </div>
</div>
