a {
  font-size: 14px;
}

a.navbar-brand {
  font-size: 18px;
}

.wgNav {
  background-color: #222222;
  padding: 0px !important;
  max-height: 40px;
}

.wgNav:hover {
  color: #eeeeee;
}
