<div id="header">
  <div class="navbar paper-bg navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header paperMenuItem-bg">
              <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button> -->
              <a class="navbar-brand" routerLink="/home">PreWinterGames</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="wgNav"><a routerLink="/the-button">The Button</a></li>
                  <li class="wgNav"><a routerLink="/dice">Dice</a></li>
                  <!-- <li class="paperMenuItem-bg"><a routerLink="/home">{{currentUser.firstName}} {{currentUser.lastName}}</a></li> -->
              </ul>
          </div>
      </div>
  </div>
</div>
