.svg-dice {
  background-size: cover;
  height: 75px;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.dice1 {
  background-image: url('../../assets/images/dice/dice1.svg');
}
.dice2 {
  background-image: url('../../assets/images/dice/dice2.svg');
}
.dice3 {
  background-image: url('../../assets/images/dice/dice3.svg');
}
.dice4 {
  background-image: url('../../assets/images/dice/dice4.svg');
}
.dice5 {
  background-image: url('../../assets/images/dice/dice5.svg');
}
.dice6 {
  background-image: url('../../assets/images/dice/dice6.svg');
}

.diceSpeed3 {
  background-image: url('/assets/images/dice/diceSpeed3.GIF');
}

.diceSpeed9 {
  background-image: url('/assets/images/dice/diceSpeed9.GIF');
}

.diceSpeed18 {
  background-image: url('/assets/images/dice/diceSpeed18.GIF');
}

body {
  /* background-color: rgb(44, 44, 44); */
}

.dice-info {
  color:white;
  background-color:rgb(123, 123, 123);
  width: 100%;
  height: auto;
  text-align: center;
  padding:10px;
  margin-top: -5px !important;
  border: none;
  border-radius: 15px;
	box-shadow: 0 9px rgb(158, 158, 158);
	cursor: pointer;
 	outline: none;

	border-color: #DDDDDD;
	border-style: solid;
	border-width: 5px;
	max-width: 350px;
	padding: 15px 12px;
}
.dice-info:hover {
  background-color:rgb(134, 134, 134);
}
.dice-info:active {
  background-color:rgb(115, 115, 115);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dieFace {
  cursor: pointer;
  width:60px;
}

.roll-dice {
  width: 100%;
  text-align: center;
  padding:10px;
  margin-top: -5px !important;
  border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	cursor: pointer;
 	outline: none;

	border-color: #DDDDDD;
	border-style: solid;
	border-width: 5px;
	max-width: 350px;
	padding: 15px 15px;
}

.roll-dice:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.rolling {
  background-color: rgb(138, 138, 138);
}

.rolling:hover {
  background-color: rgb(161, 161, 161);
}

.rolling:active {
  background-color: rgb(179, 83, 75);
}

.done {
  background-color: rgb(233, 233, 233);
}

.done:hover {
  background-color: rgb(255, 255, 255);
}

.done:active {
  background-color: rgb(212, 212, 212);
}

.blue-oyster-background {
  color: white;
  background-color: rgb(100, 152, 201);
}

.blue-oyster-background:hover {
  background-color: rgb(108, 165, 219)
}

.blue-oyster-background:active {
  background-color: rgb(89, 137, 181)
}

.bland-error-background {
  color: white;
  background-color: rgb(155, 147, 117);
}

.bland-error-background:hover {
  background-color: rgb(185, 179, 157);
}

.bland-error-background:active {
  background-color: rgb(179, 83, 75);
}

.sea-4-background {
  color: white;
  background-color: rgb(134, 186, 118);
}

.sea-4-background:hover {
  background-color: rgb(144, 201, 127);
}

.sea-4-background:active {
  background-color: rgb(113, 157, 99);
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.roll-history {
  display:inline-block;
}
