

<div class="row" style="margin-top:10px;">
  <div class="col-lg-3" style="align-content:center">
    <button class="roll-dice blue-oyster-background small-medium unselectable" *ngIf="!diceRolling" (click)="rollDice()">Roll</button>
    <button class="roll-dice bland-error-background small-medium unselectable" *ngIf="diceRolling">Rolling</button>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2" *ngFor="let die of dice">
        <!-- <pre class="dieFace done unselectable" *ngIf="die.rollFinished && die.lastRoll">{{ die.lastRoll.face }}</pre> -->
        <!-- <pre class="dieFace rolling unselectable" *ngIf="!die.rollFinished">{{ die.lastRoll.face }}</pre> -->
        <div class="diceSpeed9 svg-dice" *ngIf="!die.rollFinished"></div>
        <div class="dice1 svg-dice" *ngIf="die.rollFinished && die.lastRoll.number == 1"></div>
        <div class="dice2 svg-dice" *ngIf="die.rollFinished && die.lastRoll.number == 2"></div>
        <div class="dice3 svg-dice" *ngIf="die.rollFinished && die.lastRoll.number == 3"></div>
        <div class="dice4 svg-dice" *ngIf="die.rollFinished && die.lastRoll.number == 4"></div>
        <div class="dice5 svg-dice" *ngIf="die.rollFinished && die.lastRoll.number == 5"></div>
        <div class="dice6 svg-dice" *ngIf="die.rollFinished && die.lastRoll.number == 6"></div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>

  <div class="col-lg-3">
    <div *ngIf="comboType" class="dice-info small-medium unselectable">{{comboType}}</div>
    <div *ngIf="!comboType" class="dice-info small-medium unselectable"> --- </div>
  </div>
</div>
