#showMainBig {
  margin-top: 50px;
}
#showMainSmall {
  margin-top: 50px;
}


/* .mobile {
  color:white;
  max-width: 290px;
  margin-top: -2em !important;
} */

.mobileCenter {
  width: 80vw;
  margin-left: 10vw;
  touch-action: manipulation;
}

.mobile p {
  font-size: 16px;
  word-break: break-word;
  white-space: normal;
}

body {
  background-color: rgb(44, 44, 44);
}

.full-height {
  height: 1200px;
}

.users {
  background-color:#2b2b2b;
  box-shadow: 0 1px #111111;
}

.gambling-bar {
  margin-top: 20px;
  /* background-color: #2b2b2b; */
  background-color: #272626;
	box-shadow: 0 1px #111111;
}

.right-bar {
  background-color: #2b2b2b;
  box-shadow: 0 1px #111111;
}

.pointer {
	cursor: pointer;
}

.centerVertically {
  margin-top: 10%;
  display: inline-block;
  vertical-align: middle;
}

.light-switch-array-controller {
    width: 150px;
    height: 90px;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    /* outline: none; */

    /* border: none; */
    /* border-radius: 50px; */
    /* border-color: #dddddd; */
    /* border-style: solid; */
    /* border-width: 5px; */
}

.light-switch-array {
  /* border-radius: 50px; */
  height: 130px !important;
	background-color: #3e3e3e;
	box-shadow: 0 4px #111111;
}

/* .on {
  box-shadow: 0 7px #777777;
}

.on:active {
  box-shadow: 0 5px #666666;
  transform: translateY(10px);
}

.off {
  box-shadow: 0 5px #666666;
  margin-top: 15px;
}

.off:active {
  box-shadow: 0 7px #777777;
  transform: translateY(10px);
} */

.user-level {
	background-color: #AA4444;
	color: #EEEEEE;
	border-radius: 5px;
	border: solid;
	border-color: #FFFFFF !important;
	border-width: 2px !important;
	padding: 4px;
	float:right;
	display: table-cell;
	vertical-align: middle !important;
}

.left {
	background-color:#666666;
}

.mid {
	background-color:#BBBBBB;
}

.right {
	background-color:#EEEEEE;
}

.extra-time-row {
	height: 100px;
}

.empty-row {
	height: 80px;
}

/* ul {
	list-style-type:none;
	margin: 30px 30px 0 0;
	padding: 0; }
li {
	padding: 15px;
	width: 100%;
	background:#E3E3E3;
	margin-bottom:2px;
	font-weight:bold;
} */

.spin-text {
	width: 400px;
}

.cheat-text {
	font-size: 20px;
	text-align:center;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.small {
	font-size: 20px;
}

.small-medium {
	font-size: 25px;
}

.medium {
	font-size: 39px;
}

.big {
  font-size: 60px;
}

.huge {
	font-size: 130px;
}

.enormous {
	font-size: 150px;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.text-center {
    text-align: center;
}

.center {
    margin: auto;
}

.grey-text {
    color:#999999;
}

.grey-text:hover {
	color:#BBBBBB;
}

.grey-background {
	color: #FFFFFF;
    background-color:#555555;
}

.grey-background:hover {
	background-color:#888888;
}

.grey-background:activate {
	background-color:#333333;
}

.red-text {
    color:#DD0000;
}

.red-text:hover {
	color:#EE0000;
}

.red-background {
	color: #FFFFFF;
  background-color:#DD0000;
}

.red-background:hover {
	background-color:#EE0000;
}

.red-background:active {
	background-color: #BB0000;
}

.green-background {
	color: #FFFFFF;
    background-color:#006600;
}

.green-background:hover {
	background-color:#008800;
}

.green-background:active {
	background-color: #004400;
}

.orange-background {
	color: #FFFFFF;
    background-color:#DD4400;
}

.orange-background:hover {
	background-color:#EE5500;
}

.orange-background:active {
	background-color: #CC8800;
}

.white-background {
	color: #AAAAAA;
    background-color:#EEEEEE;
}

.white-background:hover {
	background-color:#FFFFFF;
}

.white-background:active {
	background-color: #CCCCCC;
}

.grayed-out-text {
  color: rgb(80, 80, 80)
}

.bland-error-background {
  color: white;
  background-color: rgb(189, 180, 155);
}

.bland-error-background:hover {
  background-color: rgb(201, 194, 172);
}

.bland-error-background:active {
  background-color: rgb(221, 92, 78);
}

.piggy-background {
  color: white;
  background-color: rgb(189, 74, 74);
}

.piggy-background:hover {
  background-color: rgb(192, 94, 94);
}

.piggy-background:active {
  background-color: rgb(179, 57, 57);
}

/* .popup-background { */
  /* color: white; */
  /* background-color: rgb(100, 100, 100); */
/* } */

/* .popup-background:hover {
  background-color: rgb(179, 179, 179);
} */

.popup-background:active {
  background-color: rgb(66, 66, 66);
}

.blue-oyster-background {
  color: white;
  background-color: rgb(100, 152, 201);
}

.blue-oyster-background:hover {
  background-color: rgb(108, 165, 219)
}

.blue-oyster-background:active {
  background-color: rgb(89, 137, 181)
}

.sea-4-background {
  color: white;
  background-color: rgb(134, 186, 118);
}

.sea-4-background:hover {
  background-color: rgb(144, 201, 127);
}

.sea-4-background:active {
  background-color: rgb(113, 157, 99);
}

.the-counter {
  display: inline-block;
  overflow: hidden;
	border-radius: 100px;
	border-style: solid;
  border-width: 5px;
  margin-top: -15px;
	padding: 15px;
}

.border-gray {
  border-color: rgb(80, 80, 80);
}
.border-dark-red {
  border-color: #8a0000;
}
.border-red {
  border-color: #dd0000;
}
.border-red-orange {
  border-color: #dd6300;
}
.border-orange-yellow {
  border-color: #ffb600;
}
.border-yellow {
  border-color: #f7e600;
}
.border-green {
  border-color: #87ee00;
}
.border-cyan-green {
  border-color: #00eea7;
}
.border-cyan {
  border-color: #00eeee;
}
.border-light-blue {
  border-color: #10b6ee;
}
.border-blue {
  border-color: #0053ee;
}
.border-purple {
  border-color: #a700ee;
}
.border-pink {
  border-color: #e600ee;
}

.empty {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	outline: none;
	color: white;
	max-width: 350px;
	padding: 15px 25px;
}

.the-button-main {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	cursor: pointer;
 	outline: none;

	border-color: #DDDDDD;
	border-style: solid;
	border-width: 5px;
	max-width: 350px;
  padding: 15px 25px;
  touch-action: manipulation;
}

.the-button-main:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.the-button {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	cursor: pointer;
 	outline: none;

	border-color: #DDDDDD;
	border-style: solid;
	border-width: 5px;
	max-width: 350px;
  padding: 15px 25px;
  touch-action: manipulation;
}

.the-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonAttributeContainer {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  height: 70px;
  width: 87%;
  font-size: 18px !important;
  color:whitesmoke;
  cursor: pointer;
}

/* .buttonAttributeName {
  margin-bottom: 1px !important;
} */

.buttonAttributeNotUsed {
  background-color: #bd631a;
}

.buttonAttributeUsed {
  background-color: #bbb;
}

/*///////////////////
// Random boss items
///////////////////////////////////////////////////////////////////////////////*/
.beerCap1 { background-image: url('../../assets/images/bossItems/beerCap1.png'); }
.beerCap2 { background-image: url('../../assets/images/bossItems/beerCap2.png'); }
.beerCap3 { background-image: url('../../assets/images/bossItems/beerCap3.png'); }
.beerCap4 { background-image: url('../../assets/images/bossItems/beerCap4.png'); }
.beerCap5 { background-image: url('../../assets/images/bossItems/beerCap5.png'); }
.floater1 { background-image: url('../../assets/images/bossItems/floater1.png'); }
.floater2 { background-image: url('../../assets/images/bossItems/floater2.png'); }
.floater3 { background-image: url('../../assets/images/bossItems/floater3.png'); }
.floater4 { background-image: url('../../assets/images/bossItems/floater4.png'); }
.floater5 { background-image: url('../../assets/images/bossItems/floater5.png'); }
.meatClub1 { background-image: url('../../assets/images/bossItems/meatClub1.png'); }
.meatClub2 { background-image: url('../../assets/images/bossItems/meatClub2.png'); }
.meatClub3 { background-image: url('../../assets/images/bossItems/meatClub3.png'); }
.meatClub4 { background-image: url('../../assets/images/bossItems/meatClub4.png'); }
.meatClub5 { background-image: url('../../assets/images/bossItems/meatClub5.png'); }
.oldOx1 { background-image: url('../../assets/images/bossItems/oldOx1.png'); }
.oldOx2 { background-image: url('../../assets/images/bossItems/oldOx2.png'); }
.oldOx3 { background-image: url('../../assets/images/bossItems/oldOx3.png'); }
.oldOx4 { background-image: url('../../assets/images/bossItems/oldOx4.png'); }
.oldOx5 { background-image: url('../../assets/images/bossItems/oldOx5.png'); }

.random-img {
	cursor: pointer;
  width: 10em;
  height: 10em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  touch-action: manipulation;
}

.alone {
  background-image: url("../../assets/images/random/alone.png");
  background-size: 700px 500px;
  background-position: center;
  background-position-y: 140px !important;
  background-position-x: 250px !important;
  background-repeat: no-repeat;
}

@media only screen and (
  max-width: 1126px
) {
#showMainBig {
  display: none;
}
#showMainSmall {
  width: 100vw;
  margin: 0 auto;
  margin-top: -5vh;
}
.extra-time-row {
  height: 10vh;
  touch-action: manipulation;
}
.random-img {
  width: 4em;
  height: 4em;
}
.huge {
	font-size: 100px;
}
}

@media only screen and (
  min-width: 1126px
) {
#showMainSmall {
  display: none;
}
}
