body {
  background-color: black !important;
}
.story {
  margin: 0 auto;
  /* padding: 50px; */
  border-radius: 10px;
  font-size: 20px !important;
  max-width: 80vw;
}

.typed, .typed-cursor {
  font-family: monospace, monospace;
  color: black;
}

a {
  color: white;
  text-decoration: none !important;
}

a:hover {
  color: #9b7d19;
}
