<div class="row story" style="font-size: 10px !important; margin-top: 15px; cursor: pointer;">
  <div class="col-xs-1" (click)="chapterToggle(1);">1: WWI</div>
  <div class="col-xs-1" (click)="chapterToggle(2);">2: GRH</div>
  <div class="col-xs-1" (click)="chapterToggle(3);">3: BDG</div>
  <div class="col-xs-1" (click)="chapterToggle(4);">4: BAR</div>
  <div class="col-xs-1" (click)="chapterToggle(5);">5: DFL</div>
  <div class="col-xs-1" (click)="chapterToggle(6);">6: EWI</div>
  <div class="col-xs-1" (click)="chapterToggle(7);">7: NAP</div>
  <div class="col-xs-1" (click)="chapterToggle(8);">8: BED</div>
  <div class="col-xs-1" (click)="chapterToggle(9);">9: BLC</div>
  <div class="col-xs-1" (click)="chapterToggle(10);">10: TOW</div>
  <div class="col-xs-1" (click)="chapterToggle(11);">11: RFT</div>
  <div class="col-xs-1" (click)="chapterToggle(12);">12: DGN</div>
</div>
<div class="row story">
  <div [hidden]="chapter !== 0"><h1>The Staircase</h1></div>
  <div [hidden]="chapter !== 1"><h1>The West Wing</h1></div>
  <div [hidden]="chapter !== 101"><h1>The West Wing</h1></div>
  <div [hidden]="chapter !== 2"><h1>The Great Hall</h1></div>
  <div [hidden]="chapter !== 3"><h1>The Badger</h1></div>
  <div [hidden]="chapter !== 4"><h1>The Bar</h1></div>
  <div [hidden]="chapter !== 401"><h1>The Bar</h1></div>
  <div [hidden]="chapter !== 402"><h1>The Bar</h1></div>
  <div [hidden]="chapter !== 403"><h1>The Bar</h1></div>
  <div [hidden]="chapter !== 404"><h1>The Bar</h1></div>
  <div [hidden]="chapter !== 5"><h1>The Dancefloor</h1></div>
  <div [hidden]="chapter !== 501"><h1>The Dancefloor</h1></div>
  <div [hidden]="chapter !== 502"><h1>The Dancefloor</h1></div>
  <div [hidden]="chapter !== 503"><h1>The Dancefloor</h1></div>

  <div [hidden]="chapter !== 6"><h1>The East Wing</h1></div>
  <div [hidden]="chapter !== 7"><h1>The Narrow Passage</h1></div>
  <div [hidden]="chapter !== 8"><h1>The Bedroom</h1></div>
  <div [hidden]="chapter !== 9"><h1>The Balcony</h1></div>

  <div [hidden]="chapter !== 10"><h1>The Tower</h1></div>
  <div [hidden]="chapter !== 11"><h1>The Rooftop</h1></div>

  <div [hidden]="chapter !== 12"><h1>The Dungeon</h1></div>
  <div [hidden]="chapter !== 13"><h1>The Prisoners Dilemma</h1></div>
  <div [hidden]="chapter !== 14"><h1>The Escape</h1></div>

  <div [hidden]="chapter !== 15"><h1>The End</h1></div>
  <div [hidden]="chapter !== 16"><h1>The Epilogue</h1></div>
</div>
<div id="typed0" [hidden]="chapter !== 0" class="row story"></div>
<div id="typed1" [hidden]="chapter !== 1" class="row story"></div>
<div id="typed2" [hidden]="chapter !== 2" class="row story"></div>
<div id="typed3" [hidden]="chapter !== 3" class="row story"></div>
<div id="typed4" [hidden]="chapter !== 4" class="row story"></div>
<div id="typed5" [hidden]="chapter !== 5" class="row story"></div>
<div id="typed6" [hidden]="chapter !== 6" class="row story"></div>
<div id="typed7" [hidden]="chapter !== 7" class="row story"></div>
<div id="typed8" [hidden]="chapter !== 8" class="row story"></div>
<div id="typed9" [hidden]="chapter !== 9" class="row story"></div>
<div id="typed10" [hidden]="chapter !== 10" class="row story"></div>
<div id="typed11" [hidden]="chapter !== 11" class="row story"></div>
<div id="typed12" [hidden]="chapter !== 12" class="row story"></div>
<div id="typed13" [hidden]="chapter !== 13" class="row story"></div>
<div id="typed14" [hidden]="chapter !== 14" class="row story"></div>
<div id="typed15" [hidden]="chapter !== 15" class="row story"></div>
<div id="typed16" [hidden]="chapter !== 16" class="row story"></div>

<div id="typed101" [hidden]="chapter !== 101" class="row story"></div>
<div id="typed401" [hidden]="chapter !== 401" class="row story"></div>
<div id="typed402" [hidden]="chapter !== 402" class="row story"></div>
<div id="typed403" [hidden]="chapter !== 403" class="row story"></div>
<div id="typed404" [hidden]="chapter !== 404" class="row story"></div>
<div id="typed501" [hidden]="chapter !== 501" class="row story"></div>
<div id="typed502" [hidden]="chapter !== 502" class="row story"></div>
<div id="typed503" [hidden]="chapter !== 503" class="row story"></div>

<div>
  <!-- Chapter 0 - The Staircase -->
  <div id="chapter0" [hidden]="true" class="row story">
    <p>You are walking the steps of a great staircase...
    <br><br>
    It continues ever upward for what seems like an eternity, before opening up into a grand hallway.
    <br><br>
    You see a dimly lit podium at the center of it and decide to investigate.
    <br><br>
    As you approach the large podium you see a thin and shimmering pale man towering over it, regaly awaiting new arrivals...
    <br><br>
    <i>“Welcome to the BOSS mansion, are you booked for the party in the West Wing?"</i> the COUNT says with a smile.</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[0]">
    <li><a (click)="chapterToggle(1);">Yes, I’m the lucky one!</a></li>
    <li><a (click)="chapterToggle(6);">No, I received an invitation to the East Wing..</a></li>
  </ul>
</div>

<div>
  <!-- Chapter 1 - The West Wing -->
  <div id="chapter1" [hidden]="true" class="row story">
    <p>After the COUNT graciously bows and points to your left, you continue into a meticulously decorated corridor, it seems to be worn down yet cared for through many centuries.
    <br><br>
    A dodgy WAITER ambushes you while caught up in the interior design.
    <br><br>
    <i>“Well hello dear _______, would you like a zip of this phenomenal drink? On the house of course!”</i></p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[1]">
    <li><a (click)="chapterToggle(2);">Accept</a></li>
    <li><a (click)="chapterToggle(101);">Deny</a></li>
  </ul>

  <div id="chapter101" [hidden]="true" class="row story">
      <p><i>“How dare you?”</i> he says and smacks you in the face. Everything goes black…</p>
  </div>
  <ul class="story"[hidden]="!chapterInputs[101]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>

  <!-- Chapter 2 - The Great Hall -->
  <div id="chapter2" [hidden]="true" class="row story">
    <p>You graciously accept the drink, the WAITER bows and guides you into the Great Hall.
    <br><br>
    There, you see _playerName_ mingling with a BADGER... and cautiously ignore them...
    <br><br>
    _playerName _ squeaks and the BADGER responds, <i>“We’ll fuck you too!”</i> before looking intently your way and shouting
    <br><br>
    <i>“Hey buddy!!"
    <br><br>"Yes YOU... Come here!!”</i>
    <br><br>
    After careful consideration, you decide that...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[2]">
    <li><a (click)="chapterToggle(3);">...you'll approach the BADGER, avoiding enraging him further...</a></li>
    <li><a (click)="chapterToggle(4);">..you've a previous engagement involving a bar, a good buzz and no fucking BADGERS...</a></li>
  </ul>

  <!-- Chapter 3 - The Badger -->
  <div id="chapter3" [hidden]="true" class="row story">
    <p>You talk to The BADGER...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[3]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>

  <!-- Chapter 4 - The Bar -->
  <div id="chapter4" [hidden]="true" class="row story">
    <p>You feel happy and safe knowing this decision could never come back to haunt you, Badgers are inherently nice creatures and not ones to hold grudges.
    <br><br>
    There it is! The luxurious glass-covered bar is indeed an eye-catcher. As you're strolling towards it you notice there are no guests, yet the bartender seems to be intently busy with his back to the counter.<br><br>
    <i>What a dick</i>, you think as you snap your fingers, ordering…</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[4]">
    <li><a (click)="chapterToggle(401);">Tequila</a></li>
    <li><a (click)="chapterToggle(401);">Whiskey on the rocks</a></li>
    <li><a (click)="chapterToggle(402);">Mjollnirs Legacy 3000</a></li>
  </ul>

  <div id="chapter401" [hidden]="true" class="row story">
    <p><i>"Only punks drink that garbage, you're gonna have a Mjollnirs Legacy 3000!"</i> he says before displaying what could only be described as the greatest drink in the world...
    <br><br>
    You take a zip and realize <i>he's right, what could possibly be better than Mjollnirs Legacy 3000!?</i> quickly chugging the rest of your super awesome drink, you decide to...</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[401]">
    <li><a (click)="chapterToggle(5);">Hit the dancefloor...</a></li>
    <li><a (click)="chapterToggle(403); drunk = true;">Order another Mjollnirs Legacy 3000!</a></li>
  </ul>

  <div id="chapter402" [hidden]="true" class="row story">
    <p><i>"Great choice, I'm always on the lookout for guests with good taste and will SURELY remember you!
    <br><br>
    Here's one Mjollnirs Legacy 3000 on the house!"</i> he says before displaying what could only be described as the greatest drink in the world...
    <br><br>
    You chug your super awesome drink, and feeling pretty pleased with yourself, you decide to…</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[402]">
    <li><a (click)="chapterToggle(5);">Hit the dancefloor...</a></li>
    <li><a (click)="chapterToggle(403); drunk = true;">Order another Mjollnirs Legacy 3000!</a></li>
  </ul>

  <div id="chapter403" [hidden]="true" class="row story">
    <p><i>"Look at you go! Ok, one more Mjollnirs Legacy 3000 it is!"</i> he says before crafting something so magnificient it brings the gods to envy...
    <br><br>
    You chug your favorite super awesome drink like the rockstar BOSS you are!
    <br><br>
    As the drunken haze starts to set, you realize that what you really need, what you are badly craving is…</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[403]">
    <li><a (click)="chapterToggle(5);">Denceflewr...</a></li>
    <li><a (click)="chapterToggle(404);">Just. One. More... Mjeumjeus lgkcy thweb.. thwebthewsnds..</a></li>
  </ul>

  <div id="chapter404" [hidden]="true" class="row story">
    <p>You can't make out what the bartender says but through the fog on your eyelids you see him raising two thumbs up, before displaying the love of your life, Mjollnirs Legacy 3000!
    <br><br>
    You chug the sweet sweet mana that is your absolute favorite super awesome drink, and promptly pass out...</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[404]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>

  <!-- Chapter 5 - The Dancefloor -->
  <div id="chapter5" [hidden]="true" class="row story">
    <p>You enter the dancefloor like the smooth criminal you've always been, bringing the moves to a whole other level!
    <br><br>
    Without hesitation or remorse, you bring out the SHIMY, the SHUFFLE, the LAME DUCK and the CRUNK.
    <br><br>
    As more and more people gather around you to see the action, you decide it's time to bring out the big guns, and you do...
    </p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[5]">
    <li><a (click)="chapterToggle(501);">The ROBOT...</a></li>
    <li [hidden]="!drunk"><a (click)="chapterToggle(501);">The CRUSTED SWORD...</a></li>
    <li [hidden]="drunk"><a (click)="chapterToggle(501);">The MOONDANCE...</a></li>
    <li><a (click)="chapterToggle(501);">The SALMON DANCE...</a></li>
    <li [hidden]="!drunk"><a (click)="chapterToggle(501);">The SLOPPY SAILOR...</a></li>
  </ul>

  <div id="chapter501" [hidden]="true" class="row story">
    <p>As the crowd watches in amazement at your moves, the BADGER bursts in stealing the show in front of you.
    <br><br>
    As a dance battle ensues, you realize that you're evenly matched down to the most SWAGGER move you've got.
    <br><br>
    Move after move, the battle continues.. but the BADGER appears more friendly and even lets you have the floor to SHIMY once again.
    <br><br>
    Suddenly the BADGER stretches out his paw against you...
    <br><br>
    You decide to...</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[501]">
    <li><a (click)="chapterToggle(502);">Take it</a></li>
    <li><a (click)="chapterToggle(503);">Reject it</a></li>
  </ul>

  <div id="chapter502" [hidden]="true" class="row story">
    <p>As you reach out to grab his paw, he viciously punch you in the gut with his other paw!
    <br><br>
    He then kicks you in the FACE with a backflip as the crowd roars.
    <br><br>
    As you land on the floor with a thud all turns black...
    <br><br>
    Before losing consciousness you think about how much you hate BACKSTABBING BADGERS...</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[502]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>

  <div id="chapter503" [hidden]="true" class="row story">
    <p>You turn and do your own thing while thinking <i>NEVER trust a BADGER</i>
    <br><br>
    <i>"BRO?! REALLY?!?"</i> the BADGER shrieks angrily...
    <br><br>
    _playerName_ squeaks again and when you turn to look you see more BADGERS approach the dancefloor.
    <br><br>
    Something hard hits the back of your head and you fall to the floor with a thud...
    <br><br>
    Before losing consciousness you think about how much you hate BACKSTABBING BADGERS...</p>
  </div>

  <ul class="story" [hidden]="!chapterInputs[503]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>
</div>

<div>
    <!-- Chapter 6 - The East Wing -->
  <div id="chapter6" [hidden]="true" class="row story">
    <p>You enter the east wing...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[6]">
    <li><a (click)="chapterToggle(7);">Continue...</a></li>
  </ul>

  <!-- Chapter 7 - The Narrow Passage -->
  <div id="chapter7" [hidden]="true" class="row story">
    <p>You enter the narrow passage...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[7]">
    <li><a (click)="chapterToggle(8);">Bedroom...</a></li>
    <li><a (click)="chapterToggle(9);">Balcony...</a></li>
  </ul>

  <!-- Chapter 8 - The Bedroom Passage -->
  <div id="chapter8" [hidden]="true" class="row story">
    <p>You enter the bedroom...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[8]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>

  <!-- Chapter 9 - The Balcony -->
  <div id="chapter9" [hidden]="true" class="row story">
    <p>You enter the balcony...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[9]">
    <li><a (click)="chapterToggle(10);">Continue...</a></li>
  </ul>
</div>

<div>
  <!-- Chapter 10 - The Tower -->
  <div id="chapter10" [hidden]="true" class="row story">
    <p>You enter the balcony...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[10]">
    <li><a (click)="chapterToggle(11);">Continue...</a></li>
  </ul>

  <!-- Chapter 11 - The Rooftop -->
  <div id="chapter11" [hidden]="true" class="row story">
    <p>You enter the rooftop...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[11]">
    <li><a (click)="chapterToggle(12);">Continue...</a></li>
  </ul>
</div>

<div>
  <!-- Chapter 12 - The Dungeon -->
  <div id="chapter12" [hidden]="true" class="row story">
    <p>You wake up with your hands chained to a wall, surrounded by a vicious turkey, an unconcious _playerName_, and a rusty trombone...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[12]">
    <li><a (click)="chapterToggle(13);">Continue...</a></li>
  </ul>

  <!-- Chapter 13 - The Prisoners Dilemma -->
  <div id="chapter13" [hidden]="true" class="row story">
    <p>You are faced with a terrible decision...</p>
  </div>
  <ul [hidden]="!chapterInputs[13]">
    <li><a (click)="chapterToggle(14);">Continue...</a></li>
  </ul>

  <!-- Chapter 14 - The Escape -->
  <div id="chapter14" [hidden]="true" class="row story">
    <p>You run for your life...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[14]">
    <li><a (click)="chapterToggle(15);">Continue...</a></li>
  </ul>
</div>
<div>
  <!-- Chapter 15 - The Prologue -->
  <div id="chapter15" [hidden]="true" class="row story">
    <p>You made it!</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[15]">
    <li><a (click)="chapterToggle(16);">Exit...</a></li>
  </ul>

  <!-- Chapter 16 - The End -->
  <div id="chapter16" [hidden]="true" class="row story">
    <p>You continue reading... hoping to gain some profound knowledge from what just occured. Maybe there is something that will truly change your worldview, but then you realize that it's just a game, and just how much you fucking hate badgers...</p>
  </div>
  <ul class="story" [hidden]="!chapterInputs[16]">
    <li><a (click)="badgers = true">Continue at your own risk...</a></li>
  </ul>
</div>

<iframe *ngIf="badgers" width="840" height="630" src="https://www.youtube.com/embed/EIyixC9NsLI?autoplay=1" frameborder="0" allowfullscreen>
</iframe>
