<div class="col-md-6 col-md-offset-3">
    <!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
    <h3>All registered users:</h3>
    <ul>
        <li class="user-list" *ngFor="let user of users">
            {{user.username}} ({{user.firstname}} {{user.lastname}})
            - <a (click)="deleteUser(user)">Delete</a>
        </li>
    </ul>
    <div class="user">
      <label for="user">User ID</label><br/>
      <input class="input input-group-sm" type="text" id="user" (keyup)="loadUser($event)"/>
      <p *ngIf="user">{{user.firstname}} {{user.lastname}}</p>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
