<div class="col-md-6 col-md-offset-3">
    <h2 *ngIf="user">Welcome {{user.username}}!</h2>
    <hr>
    <h4>Your <b style="color: #fff81e;">minions</b> are shown below...</h4>
    <div>
      <div *ngFor="let usr of users">
        <div class="user-list" *ngIf="!usr.admin">
            {{usr.username}} ({{usr.firstname}} {{usr.lastname}})
            - <a *ngIf="!usr.username !== 'Zebudden'" (click)="deleteUser(usr)">Delete</a><a *ngIf="usr.username === 'Zebudden'" (click)="gofuckyourself(user.username)">Delete</a>
        </div>
      </div>
    </div>
    <hr>
    <h4>And of course, your partner in crime/cardancing...</h4>
    <div *ngFor="let usr of users">
      <div class="user-list" *ngIf="usr.admin && usr.username !== user.username">
          {{usr.username}} ({{usr.firstname}} {{usr.lastname}})
          - <a *ngIf="usr.username !== 'Zebudden'" (click)="deleteUser(usr)">Delete</a>
          <a *ngIf="usr.username === 'Zebudden'" (click)="gofuckyourself(user.username)">Delete</a>
      </div>
    </div>
    <hr>
    <!-- <div class="user">
      <label for="user">User ID</label><br/>
      <input class="input input-group-sm" type="text" id="user" (keyup)="loadUser($event)"/>
      <p *ngIf="user">{{user.firstname}} {{user.lastname}}</p>
    </div> -->
</div>
