<div class="row bar-container">
  <div class="col-lg-2 second half bar power-bar" [style.height.%]="totalBonusTime / 3"></div>
  <div class="col-lg-1"></div>
  <div class="col-lg-1"></div>
  <div *ngIf="pbScore < 100" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.9"></div>
  <div *ngIf="pbScore >= 100 && pbScore < 1000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.09"></div>
  <div *ngIf="pbScore >= 1000 && pbScore < 10000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.009"></div>
  <div *ngIf="pbScore >= 10000 && pbScore < 100000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.0009"></div>
  <div *ngIf="pbScore >= 100000 && pbScore < 1000000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.00009"></div>
  <div *ngIf="pbScore >= 1000000 && pbScore < 10000000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.000009"></div>
  <div *ngIf="pbScore >= 10000000 && pbScore < 100000000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.0000009"></div>
  <div *ngIf="pbScore >= 100000000 && pbScore < 1000000000" class="col-lg-5 full bar health-bar" [style.height.%]="pbScore * 0.00000009"></div>
</div>
<div class="row">
  <div *ngIf="pbScore < 100" class="col-lg-5 power sign">1</div>
  <div *ngIf="pbScore >= 100 && pbScore < 1000" class="col-lg-5 power sign">2</div>
  <div *ngIf="pbScore >= 1000 && pbScore < 10000" class="col-lg-5 power sign">3</div>
  <div *ngIf="pbScore >= 10000 && pbScore < 100000" class="col-lg-5 power sign">4</div>
  <div *ngIf="pbScore >= 100000 && pbScore < 1000000" class="col-lg-5 power sign">5</div>
  <div *ngIf="pbScore >= 1000000 && pbScore < 10000000" class="col-lg-5 power sign">6</div>
  <div *ngIf="pbScore >= 10000000 && pbScore < 100000000" class="col-lg-5 power sign">7</div>
  <div *ngIf="pbScore >= 100000000 && pbScore < 1000000000" class="col-lg-5 power sign">8</div>
  <div class="col-lg-2"></div>
  <div class="col-lg-5 health sign">{{level}}</div>
</div>
