.duel .topRow {
  margin-bottom: -1.2em;
}
.duel .botRow {
  margin-top: -1.2em;
}

.duel .userInfo {
  margin:4px;
}

.duel .userInfo-item {
  padding: 5px;
  font-size:25px;
  border-color: black;
  color:white;
}

.duel .userInfo-item:hover {
  font-weight: 800;
}

.duel .userInfo:nth-child(even) {
  background-color: #383838;
}

.duel .userInfo-row:hover {
  border-radius: 8px;
  color:rgb(179, 179, 179);
  background-color:rgb(158, 158, 158);
}

/*///////////////
// Avatars
///////////////////////////////////////////////////////////////////////////////*/
.sebbe { background-image: url('../../assets/images/avatars/Sebbe.png'); }
.mattis { background-image: url('../../assets/images/avatars/Mattis.png'); }
.kling { background-image: url('../../assets/images/avatars/Kling.png'); }
.robin { background-image: url('../../assets/images/avatars/Robin.png'); }
.nemer { background-image: url('../../assets/images/avatars/Nemer.png'); }
.fredde { background-image: url('../../assets/images/avatars/Fredde.png'); }
.dennan { background-image: url('../../assets/images/avatars/Dennan.png'); }
.schaeran { background-image: url('../../assets/images/avatars/Schaeran.png'); }
.amanda { background-image: url('../../assets/images/avatars/Amanda.png'); }
.ivar { background-image: url('../../assets/images/avatars/Ivar.png'); }
.virre { background-image: url('../../assets/images/avatars/Virre.png'); }
.robban { background-image: url('../../assets/images/avatars/Robban.png'); }

.duel .users-img {
  margin-top: 1em;
  padding-top: 4px;
	cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.duel .userprofile {
  width: 20em;
  height: 20em;
}

.duel .myprofile {
  width: 20em;
  height: 20em;
}

/*///////////////
// Media Queries
///////////////////////////////////////////////////////////////////////////////*/
@media only screen and (
  max-width: 1026px
) {
.duel .highscore-img {
  width: 8em;
  height: 8em;
}
}

@media only screen and (
  min-width: 1026px
) {
.duel .highscore-img {
  width: 3.7em;
  height: 3.7em;
  margin-top: 0.3em;
  margin-bottom: -0.6em;
}
}
