/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100%;
  /* padding-top: 60px; */
  text-decoration: none;
  font: 12px/1.4em 'Ubuntu', arial, sans-serif;
  line-height: 1.428571429;
  background-color: rgb(44, 44, 44);
  color: #fff;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.container {
  width: 100% !important;
}
