<div id="showMainBig" class="laptop">
  <h1>Welcome to the Winter Games</h1>
  <hr />
  <h3>
    You've been selected to go on a grand challenge of great adventure and mystery, you will voyage beyond the furthest limits of your capacity towards greatness.
  </h3>
  <hr />
  <p class="big">Begin your <a class="big" href="/the-button">journey</a></p>
  <div class="svg-clock-white"></div>
</div>

<div id="showMainSmall">
  <h3>Welcome to the Winter Games</h3>
  <hr />
  <p>
    You've been selected to go on a grand challenge of great adventure and mystery, you will voyage beyond the furthest limits of your capacity towards greatness.
  </p>
  <hr />
  <p class="small">Begin your <a href="/the-button">journey</a></p>
  <div class="svg-clock-white"></div>
</div>
