@media only screen and (
    max-width: 1026px
  ) {
  .welcome h1 {
    font-size: 30px;
  }
  .welcome p {
    font-size: 17px !important;
  }
  .welcome a {
    font-size: 17px !important;
  }
  .svg-clock-white {
    height: 228px;
    width: 228px;
  }
  /* #showMainBig {
    display: none;
  }
  #showMainSmall {
    width: 100em;
  } */
}

@media only screen and (
    min-width: 1026px
  ) {
  .welcome p {
    font-size: 25px !important;
  }
  .welcome a {
    font-size: 25px !important;
  }
  .svg-clock-white {
    height: 298px;
    width: 298px;
  }
  /* #showMainSmall {
    display: none;
  } */
}

.laptop {
  /* margin: auto; */
  /* max-width: 900px; */
}

.mobile {
  /* color:white; */
  /* max-width: 290px; */
}

.mobile p {
  /* font-size: 16px;
  word-break: break-word;
  white-space: normal; */
}

body {
  background-color: rgb(44, 44, 44);
  color: white;
}

.svg-clock-white {
  background-image: url('../../assets/images/clock-white.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
